doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Daniel Fontanes
        link(rel="stylesheet" href="styles.css")
    body
        .presentation    
            img(src="img/presentation/profile-picture-daniel-fontanes.avif") 
            .presentation-text
                h1 Daniel Fontanes
                h2 Programador
                p Buenas! Soy Daniel Fontanes 🧔🏻 y estoy encantado de que estes aquí.
                p Soy programador👨🏻‍💻. Con mi código ayudo a personas a solucionar problemas.
                p Llevo en el mundo de la programación desde 2014 📅
                p Como podrás comprobar en mi trayectorio he programado: 
                ul
                    li Páginas web 🌐
                    li Aplicaciones multiplataforma 💻
                    li Microcontroladores 🤖
                    li Brazos robot 🦾
                p Si quieres saber más sobre como puedo serte útil ¡Sigue leyendo!😁
                
        .knowledge
            h2 Tengo conocimientos en las siguientes tecnologías
            .knowledgeimg
                .knowledgeimgblock
                    img(src="img/technologies/html-logo.svg")
                    p HTML
                .knowledgeimgblock
                    img(src="img/technologies/css-logo.svg")
                    p CSS
                .knowledgeimgblock
                    img(src="img/technologies/javascript-logo.svg")
                    p JavaSript
                .knowledgeimgblock
                    img(src="img/technologies/react-logo.svg")
                    p React.js
                .knowledgeimgblock
                    img(src="img/technologies/photoshop-logo.svg", alt="")
                    p Photoshop
                .knowledgeimgblock
                    img(src="img/technologies/visual-studio-code-logo.svg", alt="")
                    p Visual Studio
                .knowledgeimgblock
                    img(src="img/technologies/pug-logo.svg", alt="")
                    p Pug
                .knowledgeimgblock
                    img(src="img/technologies/sass-logo.svg", alt="")
                    p Sass
                .knowledgeimgblock
                    img(src="img/technologies/git-icon.svg", alt="")
                    p Git

           

        .projectsdiv
            h2 Puedes ver los anteriores conocimiento aplicados en los siguientes proyectos
            .projects
                .project 
                    a(href="https://github.com/danielfontanes") Proyecto de tienda online con React
                    div VIDEO MOSTRANDO FUNCIONALIDAD
                    p La finalidad de este proytecto es poner en práctica mis conocimientos
                .project Proyecto con 
                    div VIDEO MOSTRANDO FUNCIONALIDAD

        .networksdiv
            h2 Redes
            .networks
                a(href="https://github.com/danielfontanes") 
                    img(src="img/networks/github.png", alt="")
                a(href="https://twitter.com/FontanesDaniel") 
                    img(src="img/networks/twitter.png", alt="")
                a(href="https://www.linkedin.com/in/daniel-fontanes-amoedo-3ba24a180/") 
                    img(src="img/networks/linkedin.png", alt="")
