* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: white;
}

h2 {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
}

body {
  background-color: #2C2C31;
}
body > div {
  padding: 40px 100px;
  text-align: center;
}
body div.presentation {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0px 100px;
  background-image: url(./img/presentation-background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
body div.presentation img {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 10px;
}
body div.presentation div.presentation-text {
  text-align: justify;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
}
body div.presentation div.presentation-text h2 {
  color: #0066b8;
}
body div.presentation div.presentation-text .time {
  font-size: 12px;
}
body div.knowledge {
  background-color: #0066b8;
}
body div.knowledge .knowledgeimg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body div.knowledge .knowledgeimg img {
  width: 100px;
  height: 100px;
  background-color: #F2F2F2;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}
body .projectsdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .projectsdiv .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .projectsdiv .projects .project {
  width: 40%;
  background-color: grey;
  border-radius: 5px;
  box-shadow: 3px 2px 0px 1px rgba(0, 0, 0, 0.25);
  margin: 10px;
  text-align: center;
}
body .skillsdiv {
  background-color: #0066b8;
  text-align: center;
}
body .skillsdiv .skills {
  display: flex;
  justify-content: center;
}
body .skillsdiv .skills .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
  width: 150px;
}
body .skillsdiv .skills .skill h3 {
  width: 100%;
  color: black;
  background-color: white;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10PX;
  margin-bottom: 10px;
}
body .skillsdiv .skills .skill img {
  width: 100px;
}
body .interestsdiv {
  text-align: center;
}
body .interestsdiv .interests {
  display: flex;
  justify-content: center;
}
body .interestsdiv .interests .interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
  width: 150px;
}
body .interestsdiv .interests .interest h3 {
  width: 100%;
  color: black;
  background-color: white;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10PX;
  margin-bottom: 10px;
}
body .interestsdiv .interests .interest img {
  width: 100px;
}
body .networksdiv {
  background-color: #0066b8;
  text-align: center;
}
body .networksdiv .networks a {
  margin: 20px;
}
body .networksdiv .networks a img {
  width: 50px;
  transition: transform 0.2s;
}
body .networksdiv .networks a img:hover {
  transform: scale(1.2);
}