*{
    margin:0px;
    padding:0px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

h2{
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.5);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
}
p{
    font-size: 18px;
}


body{
    background-color:#2C2C31;
    
    > div{
        padding: 40px 100px;
        text-align: center;
    }
    div.presentation{
        color: rgba(255,255,255,0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 0px 100px;
        background-image: url(./img/presentation-background.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;

        img{
            width: 300px;
            height: 300px;
            border-radius: 200px;
            box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
            margin: 10px;
        }
        div.presentation-text{
            text-align: justify;
            background: rgba(0,0,0,0.8);
            padding: 20px;
            border-radius: 10px;
            h2{
                color:rgba(0,102,184,1) ;
            }
            .time{
                font-size: 12px;
            }
        }
    }
    div.knowledge{ 
        background-color:rgba(0,102,184,1);
        .knowledgeimg{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            img{
                width: 100px;
                height: 100px;
                background-color: #F2F2F2;
                padding: 10px;
                margin: 5px;
                border-radius: 10px;
            }
        }
           
    }
    .projectsdiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        .projects{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .project{
                width: 40%;
                background-color: grey;
                border-radius: 5px;
                box-shadow: 3px 2px 0px 1px rgba(0, 0, 0,0.25);
                margin: 10px;;
                text-align: center;
            }    
        }
        
    }
    .skillsdiv{
        background-color:rgba(0,102,184,1);
        text-align: center;
        .skills{
            display: flex;
            justify-content: center;
            .skill{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0px 20px;
                width: 150px;
                h3{
                    width: 100%;
                    color:black;
                    background-color: white;
                    padding: 5px 10px;
                    border: 1px solid black;
                    border-radius: 10PX;
                    margin-bottom: 10px;
                }
                img{    
                    width: 100px;
                }
            }
        }
    }
    .interestsdiv{
        text-align: center;
        .interests{
            display: flex;
            justify-content: center;
            .interest{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0px 20px;
                width: 150px;
                h3{
                    width: 100%;
                    color:black;
                    background-color: white;
                    padding: 5px 10px;
                    border: 1px solid black;
                    border-radius: 10PX;
                    margin-bottom: 10px;
                }
                img{    
                    width: 100px;
                }
            }
        }
    }
    .networksdiv{
        background-color:rgba(0,102,184,1);
        text-align: center;
        .networks{
            a{
           
                margin: 20px;
                img{
                    width: 50px;
                    transition: transform 0.2s;
                    &:hover{
                        transform: scale(1.2);
                    }    
                }
                
            }
        }
    }

}