// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
// VARIABLES
$base-color:#2C2C31;
// STYLES
*{
    margin:0px;
    padding:0px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h2{
    background-color: rgba(0,0,0,0.5);
    padding: 20px 10px;
    text-align: center;
    border-top:solid grey 1px;
}
p{
    font-size: 18px;
}



body{
    background-color:$base-color;
    > div:nth-child(even){
        background-color: rgba(0,0,0,0.5);
    }
    
    > div > div{
        padding: 40px 100px;
        text-align: center;
    }
    div.presentation{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 0px 100px;
        background-image: url(./img/presentation/presentation-background.avif);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;

        h1{
            border-bottom: 1px solid white;
            display: inline;
        }

        h2{
            background-color: rgba(0,0,0,0.5);
            padding: 0px 00px;
            text-align: left;
            border-top:none;
        }

        img{
            width: 300px;
            height: 300px;
            border-radius: 200px;
            box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
            margin: 10px;
            margin-right: 50px;
        }
        div.presentation-text{
            text-align: justify;
            background: rgba(0,0,0,0.8);
            padding: 20px;
            border-radius: 10px;
            h2{
                color:rgba(0,102,184,1) ;
                background-color: transparent;
            }
            ul li{
                list-style-type: disc;
                margin-left: 13px;
            }
        }
    }
    div.knowledge{ 
        .knowledgeimg{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .knowledgeimgblock{
                img{
                    width: 100px;
                    height: 100px;
                    background-color: #F2F2F2;
                    padding: 10px;
                    margin: 5px;
                    border-radius: 10px;
                }
            }
        }
           
    }
    .projectsdiv{
        .projects{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .project{
                width: 40%;
                background-color: grey;
                border-radius: 5px;
                box-shadow: 3px 2px 0px 1px rgba(0, 0, 0,0.25);
                margin: 10px;;
                text-align: center;
                a{
                    font-weight: bold;
                    color: black;
                    text-transform: uppercase;
                }
                div{
                    background-color: white;
                    height: 300px;
                }
            }    
        }
        
    }
  
    .networksdiv{
        text-align: center;
        .networks{
            a{
           
                margin: 20px;
                img{
                    width: 50px;
                    transition: transform 0.2s;
                    &:hover{
                        transform: scale(1.2);
                    }    
                }
                
            }
        }
    }

}