@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

h2 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 10px;
  text-align: center;
  border-top: solid grey 1px;
}

p {
  font-size: 18px;
}

body {
  background-color: #2C2C31;
}
body > div:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.5);
}
body > div > div {
  padding: 40px 100px;
  text-align: center;
}
body div.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0px 100px;
  background-image: url(./img/presentation/presentation-background.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
body div.presentation h1 {
  border-bottom: 1px solid white;
  display: inline;
}
body div.presentation h2 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 0px;
  text-align: left;
  border-top: none;
}
body div.presentation img {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 10px;
  margin-right: 50px;
}
body div.presentation div.presentation-text {
  text-align: justify;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
}
body div.presentation div.presentation-text h2 {
  color: #0066b8;
  background-color: transparent;
}
body div.presentation div.presentation-text ul li {
  list-style-type: disc;
  margin-left: 13px;
}
body div.knowledge .knowledgeimg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body div.knowledge .knowledgeimg .knowledgeimgblock img {
  width: 100px;
  height: 100px;
  background-color: #F2F2F2;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}
body .projectsdiv .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .projectsdiv .projects .project {
  width: 40%;
  background-color: grey;
  border-radius: 5px;
  box-shadow: 3px 2px 0px 1px rgba(0, 0, 0, 0.25);
  margin: 10px;
  text-align: center;
}
body .projectsdiv .projects .project a {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
body .projectsdiv .projects .project div {
  background-color: white;
  height: 300px;
}
body .networksdiv {
  text-align: center;
}
body .networksdiv .networks a {
  margin: 20px;
}
body .networksdiv .networks a img {
  width: 50px;
  transition: transform 0.2s;
}
body .networksdiv .networks a img:hover {
  transform: scale(1.2);
}